.botao {
    border-radius: 100px;
    padding: 8px 20px;
    font-weight: 500;
}

.button_header {
    background-color: #1e293b;
    border-bottom: 1px solid #eee;

}

.button_ligth {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    background-color: #eeeeee;
    font-size: 15px;
    margin-bottom: 30px;
}

.button_borda {
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}
.button_completo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    border-color: #1e293b ;
    margin-bottom: 80px;
}
.button_completo:hover {
    background-color: #1e293b;
    border-color: #eeeeee;
    font-palette: #ffffff;
}

