.card{
    border: none;
    background: transparent;
    width: 100%;
    cursor: pointer;
}


.imgBox{
    background: #e8e2db;
    border-radius: 40px;
    height: 260px;

    display:flex;
    align-items:center;
    justify-content:center;

    overflow:hidden;

    box-shadow: 0 12px 25px rgba(0,0,0,0.08);

    transition: 0.4s;
}

.imgBox img{
    height: 80%;
    object-fit: contain;
    transition: 0.5s;
}


.card:hover .imgBox{
    transform: translateY(-6px);
    box-shadow: 0 18px 30px rgba(0,0,0,0.12);
}

.card:hover img{
    transform: scale(1.05);
}

.info{
    padding-top: 14px;
}

.categoria{
    font-size:10px;
    letter-spacing:2px;
    color:#8a94a6;
    margin:0;
}

.info h5{
    font-weight:700;
    margin:4px 0;
    color:#0a2540;
}

.info span{
    font-style:italic;
    color:#8a94a6;
    font-size:14px;
}